{% extends "base.html" %}
{% block content %}
    <div class="cart">
        <div class="">
            <table class="table table-hover cart-movie-table">
                <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Production year</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                {% for movie in movie_list %}
                    <tr>
                        <td><img class="movie-in-cart" src="/static/images/{{ movie.title }}.jpg"/></td>
                        <td>
                            <a href="{% url "movie" movie_id=movie.id %}"> {{ movie.title }} </a>
                        </td>
                        <td>{{ movie.type }}</td>
                        <td>{{ movie.year }}</td>
                        <td>{{ movie.price }}</td>
                        <td>
                            <form action="/deletefromcart/">
                                <input type="hidden" name="idmovie" value="{{ movie.id }}">
                                <button type="submit" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-remove"></span> Remove
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <td/>
                    <td/>
                    <td/>
                    <td/>
                    <td><h3>Total</h3></td>
                    <td class="text-right"><h3>${{ total_cost }}</h3></td>
                </tr>
                <tr>
                    <td/>
                    <td/>
                    <td/>
                    <td colspan="2">
                        <form action="{% url 'home' %}">
                            <button type="submit" class="btn btn-default cart-continue-shopping-btn">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                            </button>
                        </form>
                    </td>
                    <td>
                        {% if user.is_authenticated %}
                            <form action="{% url 'finalize' %}">
                                <input id="js-cart-empty" type="hidden" value="{{ movie_list.count }}"/>
                                <button type="submit" id="js-checkout-button" class="btn btn-success">
                                    {#                                <a data-toggle="popover" title="Popover Header" data-content="Some content inside the popover">Checkout</a>#}
                                    Checkout <span class="glyphicon glyphicon-play"></span>
                                </button>
                            </form>

                        {% else %}
                            <form action="{% url 'login' %}">
                                <button type="submit" class="btn btn-success">
                                    Login <span class="glyphicon glyphicon-play"></span>
                                </button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

{% endblock %}